/* src/assets/global.css */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
  position: relative;
  display: inline; /* Change to inline */
  transition: color 0.3s ease;
}
a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #93c5fd;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
a:hover {
  color: white;
  text-decoration: none;
}
a:hover::before {
  transform: scaleX(1);
}